<!--main window-->
<head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>
  <body>
  
  <h2>Transactions</h2>

    <table>
      <thead>
          <tr>
            <th>Id</th>
            <th>Type</th>
            <th>Buyer</th>
            <th>Seller</th>
            <th>Complete Date</th>
            <th>Price</th>
            <th>Trade for</th>
            <th>Pokemon</th>
            <th>Description</th>
            <th>Status</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let transaction of transactions">
            <td>{{transaction.id}}</td>
            <td>{{transaction.type}}</td>
            <td *ngIf = "transaction.buyer != null">{{transaction?.buyer.username}}</td>
            <td *ngIf = "transaction.buyer == null">No Buyer</td>
            <td>{{transaction?.seller.username}}</td>
            <td>{{transaction?.completeDate | date:'yyyy-MM-dd'}}</td>
            <td>{{transaction.price}}</td>
            <td>{{transaction.trader_for}}</td>
            <td>{{transaction.pokeId.name}}</td>
            <td>{{transaction.description}}</td>
            <td>{{transaction.status}}</td>
          </tr>
      </tbody>
  </table>