<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Pokemon Trading</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="openModal(content)">Sell!<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Balance</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link">Wishlist</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">History</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" (click)="logout()">Logout</a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchDeals(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search for pokemon..." required>
       </form>
    </div>
</nav>-->

<!--main window-->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let deal of deals" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{deal.pokeId.imgUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
                <div class="col-6 card-title align-self-center mb-0">
                    <h5>{{deal.id}}</h5>
                    <h5>{{deal.pokeId.name}}</h5>
                    <h5>{{deal.price}}</h5>
                    <h5>{{deal.seller.username}}</h5>
                    <h5>{{deal.expireDate|date}}</h5>
                </div>
            </div>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="doBuy(deal)" class="btn btn-primary tooltips" data-placement="top">buy!</a>
                  <a (click)="addToWishList(deal)" class="btn btn-primary tooltips" data-placement="top">add to wish list!</a>
               </div>
            </div>
  
            </div>
        </div>
    </div>
</div>

<!--
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create a new sell!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label>Type of trade:</label>
          <div class="input-group">
            <select [(ngModel)]="sellType" id="type" name="type" class="form-control" ngModel>
                <option value=1>buy now</option>
                <option value=2>auction</option>
                <option value=3>trade</option>
            </select>
          </div>
          <label>Valid until:</label>
          <div class="input-group">
            <input id="expire_date" name="expire_date" type="date" class="form-control" ngModel>
          </div>
          <label>Item:</label>
          <div class="input-group">
            <select id="item" name="item" class="form-control" ngModel>
                <option *ngFor="let pokemon of pokemons" value={{pokemon.id}}>{{pokemon.name}}</option>
            </select>
          </div>
          <label>Description:</label>
          <div class="input-group">
            <input id="description" name="description" rows="3" type="text" class="form-control" ngModel>
          </div>
          <div *ngIf="sellType<3">
            <label>Price:</label>
            <div class="input-group">
                <input id="price" name="price" type="number" step="0.01" class="form-control" ngModel>
            </div>
          </div>
          <div *ngIf="sellType==3">
            <label>Trade for:</label>
            <div class="input-group">
                <select id="trade_for" name="trade_for" class="form-control" ngModel>
                    <option *ngFor="let pokemon of pokemons" value={{pokemon.id}}>{{pokemon.name}}</option>
                </select>
            </div>
          </div>
        </div>
        <div class="text-center">
            <button data-dismiss="modal" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>-->