<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Pokemon Trading</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="openModal(content)">Sell!<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">Balance</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link">Wishlist</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link">History</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" (click)="logout()">Logout</a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchDeals(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search for pokemon..." required>
       </form>
    </div>
</nav>-->

<!--side toggle pannel-->
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
      </mat-panel-title>
      <mat-panel-description>
        User details
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="panel-content">
    <p>User:{{currentUser.username}}</p>
    <p>Balance:{{currentUser.balance}}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<br>
<!--main window-->
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let deal of deals" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{deal.pokeId.imgUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
                <div class="col-6 card-title align-self-center mb-0">
                    <h6>{{deal.id}}</h6>
                    <h6>{{deal.pokeId.name}}</h6>
                    <h6>Type: <br>{{typeTable[deal.type]}}</h6>
                    <h6>Price: {{deal.price}}</h6>
                    <h6>Seller: {{deal.seller.username}}</h6>
                    <h6 *ngIf="deal.highestBidder!=null&&deal.type==2">Current Winner: {{deal.highestBidder.username}}</h6>
                    <h6 *ngIf="deal.highestBidder==null&&deal.type==2">Current Winner: No Bidder</h6>
                    <h6>Expire Date: {{deal.expireDate|date}}</h6>
                </div>
            </div>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a *ngIf="deal.type==2" (click)="openModal(content,deal)" style="margin-right: 5px;" class="btn btn-primary tooltips" data-placement="top">Bid!</a>
                  <a *ngIf="deal.type==1" (click)="doBuy(deal)" style="margin-right: 5px;" class="btn btn-primary tooltips" data-placement="top">Buy!</a>
                  <a (click)="addToWishList(deal)" class="btn btn-primary tooltips" data-placement="top">Add wishlist!</a>
               </div>
            </div>
  
            </div>
        </div>
    </div>
</div>



<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Create a new sell!</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="form-group">
          <label>Bid Amount:</label>
          <div class="input-group">
            <input id="bid_amount" name="bid_amount" type="number" step="0.01" class="form-control" ngModel>
          </div>
        </div>
        <div class="text-center">
            <button data-dismiss="modal" class="btn btn-info">Bid</button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
    </div>
</ng-template>