<ng-progress id="progressBar"
             [color]="progressBar.currentColor"></ng-progress>
             <ngx-alerts></ngx-alerts>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
    (click)="checkCookie()">Pokemon Trading</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active" *ngIf="!(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['register']"
                routerLinkActive="active">Register </a>
            </li>
            <li class="nav-item" *ngIf="!(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['login']"
                routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['sell']"
                routerLinkActive="active"
                >Sell</a>
            </li>
            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['wishlist']"
                routerLinkActive="active"
                >Wishlist</a>
            </li>
            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['balance']"
                routerLinkActive="active"
                >Load balance</a>
            </li>
            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['mysell']"
                routerLinkActive="active"
                >My Sell</a>
            </li>
            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['history']"
                routerLinkActive="active" 
                >History</a>
            </li>

            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                [routerLink]="['pokemon']"
                routerLinkActive="active"
                >Pokemon</a>
            </li>
            <li class="nav-item" *ngIf="(LoginStatus$ | async) as LoginStatus">
                <a class="nav-link"
                *ngIf="LoginStatus"
                (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>