<!-- <div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let wishlist of wishlists" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{wishlist.pokeid.imgUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
                <div class="col-6 card-title align-self-center mb-0">
                    <h5>{{wishlist.id}}</h5>
                    <h5>{{wishlist.pokeid.name}}</h5>
                </div>
            </div>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="deleteWishlist(wishlist.id)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container" id="main-container">
    <div class="row">
            <div *ngFor="let wishlist of wishlists" class="col-md-4 col-sm-6 col-xs-12">
              <div class="card m-b-30">
                <div class="bs-pricing-item xs-last-border">
                    <div class="bs-icon">
                        <img src="{{wishlist.pokeid.imgUrl}}" alt="">
                    </div>
                    <div class="head ">
                      <div class="price">
                          <h2>{{wishlist.pokeid.name}}</h2>
                          <a (click)="deleteWishlist(wishlist.id)" class="btn btn-primary text-uppercase" id="cac">Delete</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>