<!--main window-->


<!-- <div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let deal of deals" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href=""><img src="{{deal.pokeId.imgUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
               </div>
                <div class="col-6 card-title align-self-center mb-0">
                    <h5>{{deal.id}}</h5>
                    <h5>{{deal.type}}</h5>
                    <h5>{{deal.pokeId.name}}</h5>
                    <h5>{{deal.price}}</h5>
                    <h5>{{deal.seller.username}}</h5>
                    <h5>{{deal.expireDate|date}}</h5>
                </div>
            </div>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="deleteDeals(deal.id)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
               </div>
            </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container" id="main-container">
    <div class="row">
            <div *ngFor="let deal of deals" class="col-md-4 col-sm-6 col-xs-12">
              <div class="card m-b-30">
                <div class="bs-pricing-item xs-last-border">
                    <div class="bs-icon">
                        <img src="{{deal.pokeId.imgUrl}}" alt="">
                    </div>
                    <div class="head ">
                      <div class="price-title">
                          <h2>{{deal.pokeId.name}}</h2>
                          <div class="separator"></div>
                      </div>
                      <div class="price">
                          <h1><sup>$</sup>{{deal.price}} </h1>
                          <p><strong>Deal</strong> {{deal.id}}</p>
                          <p><strong>Seller:</strong> {{deal.seller.username}}</p>
                          <p><strong>Expire date:</strong> {{deal.expireDate|date}}</p>
                          <p><strong>Description:</strong> {{deal.description}}</p>
                          <a (click)="deleteDeals(deal.id)" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete" id="cac">Delete</a>                          
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
